/* styles.css */
.container {
    text-align: center;
    margin-top: 100px;
  }
#callButton{
 background-color: green;
 height: 24px;
 width: 70px;
 border-radius: 10px;
 border: none;
}  
#hangupButton{
    background-color: red;
    height: 24px;
    width: 70px;
    border-radius: 10px;
    border: none;
}